/*
 * Secrets to be used in the main sketch, but not checked into git
 *
 * This example file contains all the variables and defines that should be
 * in secrets.h, but with example values.
 */

#define MQTT_HOST "mqtt.example.com"
#define MQTT_PORT 1883
#define MQTT_USER "joe"
#define MQTT_PASS "geheim"
#define MQTT_TOPIC "dienstag"
